asgiref
Django~=5.1.1
pip
sqlparse
python-dotenv
notebook
psycopg
neo4j
json_repair

langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith

langchain
langchain-core
langchain-community
langchain_experimental

langchain-anthropic
langchain_google_genai
langchain_openai