{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chat Application</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="app-container">
        <div class="left-sidebar">
            <div class="user-info" id="user-info">
                <!-- User information will be loaded here -->
            </div>
            <div class="sidebar-section" id="actions-div">
                <h2>Actions</h2>
                <div class="sidebar-content" id="actions">
                    <!-- Content for Actions -->
                </div>
            </div>
        </div>
        <div class="chat-container">
            <div class="chat-messages" id="chat-messages">
                <!-- Messages will be added here dynamically -->
            </div>
            <div class="input-area">
                <label for="user-input"></label><input type="text" id="user-input" placeholder="Type your message...">
                <button id="send-button">Send</button>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="sidebar-section" id="conversation-summary-div">
                <h2>Conversation Summary</h2>
                <div class="sidebar-content" id="conversation-summary">
                    <!-- Content for Conversation Summary -->
                </div>
            </div>
            <div class="sidebar-section" id="medical-insights-div">
                <h2>Medical Insights</h2>
                <div class="sidebar-content"  id="medical-insights">
                    <!-- Content for Medical Insights -->
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="{% static 'js/main.js' %}"></script>
</body>
</html>